<div class="main gists-index">
  <div class="container">
  	<table>
  		<thead>
  			<tr>
  				<th> Owner </th>
  				<th> Descripiton </th>
  				<th> Last Update </th>
  				<th> Number of files </th>  				
  				<th> Number of comments </th>  				
  			</tr>
  		</thead>
  		<tbody>
  			<% @gists.each do |g| %>
		    	<tr> 
		    		<td><%= g["owner"] %></td>
		    		<td><%= g["description"] %></td>
		    		<td><%= g["updated_at"] %></td>
		    		<td><%= g["number_of_files"]  %></td>
		    		<td><%= g["number_of_comments"]  %></td>
	    		</tr>
		    <% end %>
  		</tbody>
  	</table>
    

  </div>
</div>